@model TimeSheetManagement.Entity.Models.TimeSheet

<div class="row">
    <div class="col-12">
        <h3>Employee TimeSheet</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>TimeSheetID</th>
                    <th>ProjectID</th>
                    <th>EmpID</th>
                    <th>Date</th>
                    <th>TimeFrom</th>
                    <th>TimeTo</th>
                    <th>Hours</th>
                    <th>Status</th>
                    <th>TimeSheetRelease</th>


                </tr>
            </thead>
            <tbody>
               
                <tr>
                    <td> @Html.DisplayFor(obj => obj.TimeSheetID)</td>
                    <td> @Html.DisplayFor(obj => obj.ProjectID)</td>
                    <td> @Html.DisplayFor(obj => obj.EmpID)</td>
                    <td> @Html.DisplayFor(obj => obj.Date)</td>
                    <td> @Html.DisplayFor(obj => obj.TimeFrom)</td>
                    <td> @Html.DisplayFor(obj => obj.TimeTo)</td>
                    <td> @Html.DisplayFor(obj => obj.Hours)</td>
                    <td> @Html.DisplayFor(obj => obj.Status)</td>



                    <td>@Html.ActionLink("Release", "TimeSheetRelease", "Manager", new { TimeSheetID = Model.TimeSheetID })</td>
                    

                </tr>
                
            </tbody>
        </table>
    </div>
</div>